name: BuildBepInExPlugin

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Install unzip
        run: sudo apt-get install -y unzip

      - name: Download BepInEx
        run: |
          wget https://github.com/BepInEx/BepInEx/releases/download/v5.4.23.3/BepInEx_x64_5.4.23.3.zip
          unzip BepInEx_x64_5.4.23.3.zip -d bepinex

      - name: Build DLL
        run: dotnet build UmbrellaCheats.csproj -c Release -o build

      - name: Upload DLL
        uses: actions/upload-artifact@v4
        with:
          name: UmbrellaCheats
          path: build
